{% extends "./layout/default" %}
{% block content %}
    <div class="row">
        <div class="col">
            <h3>Welcome!</h3>
            <p class="lead">
                Welcome! <a href="https://github.com/firefly-iii/sankey">This tool</a> can generate a "sankey diagram"
                of your personal finances.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="{{ route('post') }}" method="post">
                {{ csrf_field() }}
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="url">Firefly III URL</label>
                    </div>
                    <div class="col-4">
                        <input type="text" required class="form-control" id="url" name="url" placeholder="https://firefly.example.com">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="token">Personal Access Token</label>
                        <div class="form-text">Generate a token on the <code>/profile</code>-page of your Firefly III installation.</div>
                    </div>
                    <div class="col-4">
                        <input type="text" required class="form-control" id="token" name="token" placeholder="Your personal access token">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="year">Year</label>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" id="year" name="year" placeholder="2022" value="2022">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="ignore_accounts">Optional: ignore these account ID's</label>
                        <div  class="form-text">
                            Comma-separated list. These source or destination accounts will not be included in the diagram.
                        </div>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" id="ignore_accounts" name="ignore_accounts" placeholder="1,2,3">

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="ignore_categories">Optional: ignore these category ID's</label>
                        <div  class="form-text">
                            Comma-separated list. These categories will not be included in the diagram. To ignore transactions without a category, add <code>0</code> to the list.
                        </div>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" id="ignore_categories" name="ignore_categories" placeholder="0,1,2">

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="ignore_budgets">Optional: ignore these budget ID's</label>
                        <div class="form-text">
                            Comma-separated list. These budgets will not be included in the diagram. To ignore transactions without a budgets, add <code>0</code> to the list.
                        </div>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" id="ignore_budgets" name="ignore_budgets" placeholder="0,1,2">

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="draw_destinations">Optional: also draw destinations</label>
                        <div class="form-text">
                            Makes a messy diagram usually.
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="draw_destinations">
                            <label class="form-check-label" for="disabledFieldsetCheck">
                                Also draw destinations
                            </label>
                        </div>


                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>Information and disclaimer</h3>
            <p class="small">To generate a diagram this application downloads the necessary transactions and processes them locally.
                No data is permanently stored on the server. You can inspect the source code <a href="https://github.com/firefly-iii/sankey">on GitHub</a>.
            </p>
            <p class="small">All your financial information will flow through this server (an Azure VM). Think about the following things before you use this application.</p>
            <ul>
                <li class="small">The server may be hacked and I don't know it</li>
                <li class="small">I may be secretly reading all your financial transactions</li>
            </ul>
            <p class="small">
                I take <strong>no responsibility</strong> for any damage caused by this application. Use at your own risk.
            </p>
        </div>
    </div>
{% endblock %}
